@using BaseSiteEshop.Helpers
@model CompanyBaseSite.ViewModels.AboutViewModel
@{
	ViewBag.Title = "About";
	Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}

<div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(/Content/FrontEnd/images/banner/3.jpg);">
	<div class="overlay-main site-bg-secondry opacity-07"></div>
	<div class="container">
		<div class="wt-bnr-inr-entry">
			<div class="banner-title-outer">
				<div class="banner-title-name">
					<h2 class="site-text-primary">درباره ما</h2>
				</div>
			</div>
			<!-- BREADCRUMB ROW -->

			<div>
				<ul class="wt-breadcrumb breadcrumb-style-2">
					<li><a href="javascript:void(0);">خانه</a></li>
					<li>درباره ما</li>
				</ul>
			</div>

			<!-- BREADCRUMB ROW END -->
		</div>
	</div>
</div>

<div class="section-full welcome-section-outer">
	<div class="welcome-section-top shadow-lg bg-white p-tb80">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-12">
					<div class="welcom-to-section">
						<!-- TITLE START-->
						<div class="right wt-small-separator-outer">
							<div class="wt-small-separator">
								<div class="sep-leaf-right"><img src="/Content/FrontEnd/images/sep-leaf-left.png" alt=""></div>
								<div>لیمانو</div>
								<div class="sep-leaf-left"><img src="/Content/FrontEnd/images/sep-leaf-right.png" alt=""></div>
							</div>
						</div>
						<h2>@Html.SiteContentTitle("after-slider")</h2>
						
						<!-- TITLE END-->
						@Html.Raw(Html.SiteContentBody("after-slider"))
						<div class="welcom-to-section-bottom d-flex justify-content-between">
							<div class="welcom-btn-position m-t20"><a href="@Html.SiteContentUrlLink("after-slider")" class="site-button site-btn-effect">@Html.SiteContentUrlLinkTitle("after-slider")</a></div>
							@*<img src="/Content/FrontEnd/images/sign.png" alt="">*@
						</div>
						<div class="hilite-large-title">
							<span>خوش آمدید</span>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-12">
					<div class="img-colarge">
						<div class="colarge-1"><img src="@Html.SiteContentImage("after-slider-img1")" alt=""></div>
						<div class="colarge-2"><img src="@Html.SiteContentImage("after-slider-img2")" alt=""></div>
						<div class="colarge-3 slide-right"><img src="@Html.SiteContentImage("after-slider-img3")" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
 
<!-- ALL SERVICES START -->
<div class="section-full p-t80 p-b50 bg-no-repeat bg-bottom-right" style="		background-image: url(/content/frontend/images/background/bubble-bg.png)">
	<div class="container">
		<div class="section-content">

			<!-- TITLE START-->
			<div class="center wt-small-separator-outer section-head">
				<div class="wt-small-separator">
					<div class="sep-leaf-left"><img src="/content/frontend/images/sep-leaf-left.png" alt=""></div>
					<div>خدمات لیمانو</div>
					<div class="sep-leaf-right"><img src="/content/frontend/images/sep-leaf-right.png" alt=""></div>
				</div>
				<h2 data-title="Services">خدمات ما</h2>
			</div>
			<!-- TITLE END-->

			<div class="row d-flex justify-content-center">

				@foreach (var service in Model.Services)
				{

					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="icon-circle-box	 v-icon-effect bg-orange-light">
							<div class="wt-icon-box-wraper center p-b50 m-b30 corner-radius">
								<div class="icon-lg  m-b20  icon-circle">
									<span class="icon-cell">
										<i class="flaticon-hair-cut v-icon "></i>
									</span>
								</div>
								<div class="icon-content relative">
									<h3 class="wt-tilte">@service.Title</h3>
									<p>@service.Summery</p>
									<a href="/srvice/@service.UrlParam" class="site-button-link black">اطلاعات بیشتر</a>
								</div>
							</div>
						</div>
					</div>
				}


		 
			</div>

	 
			</div>
		</div>
	</div>
