
<!DOCTYPE html>

<html>
<head>

	<!-- META -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="description" content="" />

	<!-- FAVICONS ICON -->
	<link rel="icon" href="/Content/FrontEnd/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="/Content/FrontEnd/images/favicon.png" />

	<!-- PAGE TITLE HERE -->
	<title>لیمانو</title>

	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- BOOTSTRAP STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/css/bootstrap.min.css">
	<!-- FONTAWESOME STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/css/fontawesome/css/font-awesome.min.css" />

	<!-- OWL CAROUSEL STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/css/owl.carousel.min.css">
	<!-- BOOTSTRAP SLECT BOX STYLE SHEET  -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/css/bootstrap-select.min.css">
	<!-- MAGNIFIC POPUP STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/css/magnific-popup.min.css">
	<!-- LOADER STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/css/loader.min.css">
	<!-- MAIN STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/css/style.css">
	<!-- FLATICON STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/css/flaticon.min.css">

	<!-- REVOLUTION SLIDER CSS -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/plugins/revolution/revolution/css/settings.css">
	<!-- REVOLUTION NAVIGATION STYLE -->
	<link rel="stylesheet" type="text/css" href="/Content/FrontEnd/plugins/revolution/revolution/css/navigation.css">

	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Yeseva+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	@RenderSection("head", required: false)

</head>
<body>

	<div class="page-wraper">

		@Html.Partial("FrontEnd/_MenuPartial")
		@RenderBody()
		@Html.Partial("FrontEnd/_FooterPartial")

		@RenderSection("scripts", required: false)
		<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>



	</div>

	<!-- LOADING AREA START ===== -->
	<div class="loading-area">
		<div class="loading-box"></div>
		<div class="loading-pic">
			<div class="cssload-loader">
				<div class="cssload-dots">
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- LOADING AREA  END ====== -->
	<!-- JAVASCRIPT  FILES ========================================= -->
	<script src="/Content/FrontEnd/js/jquery-2.2.0.min.js"></script><!-- JQUERY.MIN JS -->
	<script src="/Content/FrontEnd/js/popper.min.js"></script><!-- POPPER.MIN JS -->
	<script src="/Content/FrontEnd/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
	<script src="/Content/FrontEnd/js/bootstrap-select.min.js"></script><!-- Form js -->
	<script src="/Content/FrontEnd/js/magnific-popup.min.js"></script><!-- MAGNIFIC-POPUP JS -->
	<script src="/Content/FrontEnd/js/waypoints.min.js"></script><!-- WAYPOINTS JS -->
	<script src="/Content/FrontEnd/js/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script src="/Content/FrontEnd/js/waypoints-sticky.min.js"></script><!-- STICKY HEADER -->
	<script src="/Content/FrontEnd/js/isotope.pkgd.min.js"></script><!-- MASONRY  -->
	<script src="/Content/FrontEnd/js/owl.carousel.min.js"></script><!-- OWL  SLIDER  -->
	<script src="/Content/FrontEnd/js/stellar.min.js"></script><!-- PARALLAX BG IMAGE   -->
	<script src="/Content/FrontEnd/js/theia-sticky-sidebar.js"></script><!-- STICKY SIDEBAR  -->
	<script src="/Content/FrontEnd/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
	<!-- REVOLUTION JS FILES -->

	<script src="/Content/FrontEnd/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="/Content/FrontEnd/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>

	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
	<script src="/Content/FrontEnd/plugins/revolution/revolution/js/extensions/revolution-plugin.js"></script>

	<!-- REVOLUTION SLIDER SCRIPT FILES -->
	@*<script src="js/rev-script-3.js"></script>*@
	<script src="/Content/FrontEnd/js/rev-script-3.js"></script>

</body>
</html>
