
@{
	Layout = null;
}
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="@ViewBag.Description">
	<link rel="canonical" href="@ViewBag.Canonical" />
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@ViewBag.Title</title>

	@RenderSection("head", required: false)
</head>


<body>

	@Html.Partial("FrontEnd/_MenuPartial")
	@RenderBody()
	@Html.Partial("FrontEnd/_FooterPartial")

	@RenderSection("scripts", required: false)
</body>
</html>
