@model ViewModels.BlogDetailViewModel

@{
		ViewBag.Title = Model.Blog.Title;
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
		ViewBag.Description = Model.Blog.Summery;
		ViewBag.Canonical = "https://ahdiran.com/blog/post/" + Model.Blog.UrlParam;
}

<section id="page-title">
	<div class="container">
		<div class="breadcrumb">
			<ul>
				<li><a href="/">خانه</a> </li>
				<li><a href="/blog">مقالات</a> </li>
				<li class="active"><a href="#">@Model.Blog.Title</a> </li>
			</ul>
		</div>
		<div class="page-title">
			<h1>@Model.Blog.Title</h1>
		</div>
	</div>
</section>

<section id="page-content" class="sidebar-right">
	<div class="container">
		<div class="row">
			<div class="content col-lg-9">
				<div id="blog" class="single-post">
					<div class="post-item">
						<div class="post-item-wrap">
							<div class="post-image">
								<a href="#">
									<img alt="" src="@Model.Blog.ImageUrl">
								</a>
							</div>
							<div class="post-item-description">
								<h2>@Model.Blog.Title</h2>
								<div class="post-meta">
									<span class="post-meta-date"><i class="fa fa-calendar-o"></i>@Model.Blog.CreationDateStr</span>
									<span class="post-meta-comments"><a href=""><i class="fa fa-eye"></i>@Model.Blog.Visit</a></span>
									<div class="post-meta-share">
										<a class="btn btn-xs btn-slide btn-facebook" href="#">
											<i class="fab fa-facebook-f"></i>
											<span>Facebook</span>
										</a>
										<a class="btn btn-xs btn-slide btn-twitter" href="#" data-width="100">
											<i class="fab fa-twitter"></i>
											<span>Twitter</span>
										</a>
										<a class="btn btn-xs btn-slide btn-instagram" href="#" data-width="118">
											<i class="fab fa-instagram"></i>
											<span>Instagram</span>
										</a>
										<a class="btn btn-xs btn-slide btn-googleplus" href="mailto:#" data-width="80">
											<i class="icon-mail"></i>
											<span>Mail</span>
										</a>
									</div>
								</div>
								@Html.Raw(Model.Blog.Body)
							</div>
						 
						 
							<div class="comments" id="comments">
								<div class="comment_number">
									نظرات <span>(0)</span>
								</div>
								<div class="comment-list">
									<!-- Comment -->
									@foreach (var comment in Model.BlogComments)
									{
										
								
										<div class="comment" id="comment-1">
											<div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
											<div class="text">
												<h5 class="name">@comment.Name</h5>
												<span class="comment_date">@comment.CreationDateStr</span>
												<div class="text_holder">
													<p>@comment.Message</p>
												</div>
											</div>
											<!-- Comment -->
											@if(comment.Response!=null){
												<div class="comment" id="comment-1-1">
													<div class="image"><img alt="" src="/images/favicon.png" class="avatar"></div>
													<div class="text">
														<h5 class="name">عهد ایران</h5>
														<div class="text_holder">
															<p>@comment.Response </p>
														</div>
													</div>
												</div>
											 
											}
										 
										</div>
									}
								</div>
							</div>
							<div class="respond-form" id="respond">
								<div class="respond-comment">
									ثبت <span>نظر</span>
								</div>
								<div class="form-gray-fields">
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<label class="upper" for="name">نام</label>
												<input class="form-control required" name="senderName" placeholder="نام و نام خانوادگی" id="name" aria-required="true" type="text">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label class="upper" for="email">ایمیل</label>
												<input class="form-control required email" name="senderEmail" placeholder="ایمیل" id="email" aria-required="true" type="email">
											</div>
										</div> 
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<label class="upper" for="comment">نظر شما</label>
												<textarea class="form-control required" name="comment" rows="9" placeholder="نظر خود را با ما در میان بگذارد" id="comment" aria-required="true"></textarea>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group text-center">
												<button class="btn" type="button" onclick="SubmitBlogComment('@Model.Blog.Id')">ثبت نظر</button>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<p id="errorDivBlog" class="alert alert-danger"></p>
											<p id="SuccessDivBlog" class="alert alert-success">نظر شما با موفقیت ثبت گردید و پس از تایید مدیر سایت، به نمایش در خواهد آمد.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sidebar sticky-sidebar col-lg-3">
		 
				<div class="widget">
					<div class="tabs">
						<ul class="nav nav-tabs" id="tabs-posts" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="home-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="true">مقالات مرتبط</a>
							</li>
						 
						</ul>
						<div class="tab-content" id="tabs-posts-content">
							<div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
								<div class="post-thumbnail-list">
									@foreach (var blog in Model.RelatedBlogs)
									{
									
										<div class="post-thumbnail-entry">
											<img alt="" src="@blog.ImageUrl">
											<div class="post-thumbnail-content">
												<a href="/blog/post/@blog.UrlParam">@blog.Title</a>
												<span class="post-date"><i class="icon-clock"></i> @blog.CreationDateStr</span>
											</div>
										</div>
									}

								</div>
							</div>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</section>

@section scripts{
	<script>
		

		function SubmitBlogComment(id) {

			//var url = window.location.pathname;
			//var id = url.substring(url.lastIndexOf('/') + 1);

			var nameVal = $("#name").val();
			var emailVal = $("#email").val();
			var bodyVal = $("#comment").val();
			if (nameVal !== "" && emailVal !== "" && bodyVal !== "") {
				$.ajax(
					{
						url: "/BlogComments/SubmitComment",
						data: { name: nameVal, email: emailVal, body: bodyVal, code: id, site: '' },
						type: "POST"
					}).done(function (result) {
					if (result === "true") {
						$("#errorDivBlog").css('display', 'none');
						$("#SuccessDivBlog").css('display', 'block');
						localStorage.setItem("id", "");
					}
					else if (result === "InvalidEmail") {
						$("#errorDivBlog").html('ایمیل وارد شده صحیح نمی باشد.');
						$("#errorDivBlog").css('display', 'block');
						$("#SuccessDivBlog").css('display', 'none');

					}
				});
			}
			else {
				$("#errorDivBlog").html('تمامی فیلد های زیر را تکمیل نمایید.');
				$("#errorDivBlog").css('display', 'block');
				$("#SuccessDivBlog").css('display', 'none');

			}
		}

	</script>
}